{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-sm-9">
<h3 class="text-dark">Edit Rights</h3>
<form action="{% url 'home' %}" method="POST">
      		{% csrf_token %}
      	  <div class="form-row">
		    <div class="form-group text-secondary col-md-4">
			<label for="inputBasin">Basin</label>
			<select id="inputBasin" class="form-control" name="basin">
			    <option {% if not item.basin %}selected{% endif %}>Choose...</option>
			    <option {% if item.basin == "Lake Tahoe Basin (90)" %}selected{% endif %}>Lake Tahoe Basin (90)</option>
			    <option {% if item.basin == "Dayton Valley (103)" %}selected{% endif %}>Dayton Valley (103)</option>
			    <option {% if item.basin == "Carson Valley (105)" %}selected{% endif %}>Carson Valley (105)</option>
			    <option {% if item.basin == "Antelope Valley (106)" %}selected{% endif %}>Antelope Valley (106)</option>
			</select>
		    </div>
		    <div class="form-group text-secondary col-md-4">
		      <label for="inputOwner">Owner of Record</label>
		      <input type="text" class="form-control" id="inputOwner" value="{{ item.owner_of_record }}" name="owner_of_record">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputPermitNum">Permit&nbsp;#
</label>
		      <input type="text" class="form-control" id="inputPermitNum" value="{{ item.permit_num }}" name="permit_num">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputCert">Certification/Status</label>
		      <input type="text" class="form-control" id="inputCert" name="cert_status">
		    </div>
		  </div>

		  <div class="form-row">
		  	<div class="form-group text-secondary col-md-3">
		      <label for="inputPriorityDate">Priority Date</label>
		      <input type="date" class="form-control" name="date_field" id="dateField">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputCFS">C.F.S.</label>
		      <input type="text" class="form-control" id="inputCFS" name="cfs">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputDuty">Duty (AF)</label>
		      <input type="text" class="form-control" id="inputDuty" name="duty_af">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputUse">Use</label>
		      <input type="text" class="form-control" id="inputUse" name="use">
		    </div>
		    <div class="form-group text-secondary col-md-3">
		      <label for="inputRemarks">Remarks</label>
		      <input type="text" class="form-control" id="inputRemarks" name="remarks">
		    </div>
		  </div>

		  <div class="form-row">
		  	<div class="form-group text-secondary col-md-3">
		      <label for="inputPOCDue">POC Due</label>
		      <input type="text" class="form-control" id="inputPOCDue" name="poc_due">
		    </div>
		    <div class="form-group text-secondary col-md-3">
		      <label for="inputPBUDue">PBU Due</label>
		      <input type="text" class="form-control" id="inputPBUDue" name="pbu_due">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputSource">Source</label>
		      <input type="text" class="form-control" id="inputSource" name="source">
		    </div>
		    <div class="form-group text-secondary col-md-4">
		      <label for="inputSourceDesc">Source Description</label>
		      <input type="text" class="form-control" id="inputSourceDesc" name="source_description">
		    </div>
		  </div>

		  <div class="form-row">
		    <div class="form-group text-secondary col-md-10">
		      <label for="inputSaleValue">Sale Value</label>
		      <input type="text" class="form-control" id="inputSaleValue" name="sale_value">
		    </div>
		  </div>

		  <div class="form-row">
		    <div class="form-group text-secondary col-md-10">
		      <label for="inputPotVal">Potential Values</label>
		      <input type="text" class="form-control" id="inputPotVal" name="potential_values">
		    </div>
		  </div>

		  <br/>
		  <h3 class="text-dark">Point of Diversion</h3>
		  <div class="form-row">
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputPod1">1/4</label>
		      <input type="text" class="form-control" id="inputPod1" name="pod_1">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputPod2">1/4</label>
		      <input type="text" class="form-control" id="inputPod2" name="pod_2">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputPod3">S</label>
		      <input type="text" class="form-control" id="inputPod3" name="pod_3">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputPod4">T(N)</label>
		      <input type="text" class="form-control" id="inputPod4" name="pod_4">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputPod5">R</label>
		      <input type="text" class="form-control" id="inputPod5" name="pod_5">
		    </div>
		  </div>
		  <br/>
		  <h3 class="text-dark">Acres/Units</h3>
		  <div class="form-row">
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputAcres">Acres</label>
		      <input type="text" class="form-control" id="inputAcres" name="unit_acres">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputSheep">Sheep</label>
		      <input type="text" class="form-control" id="inputSheep" name="unit_sheep">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputLamb">Lamb</label>
		      <input type="text" class="form-control" id="inputLamb" name="unit_lamb">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputCattle">Cattle</label>
		      <input type="text" class="form-control" id="inputCattle" name="unit_cattle">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputHorses">Horses</label>
		      <input type="text" class="form-control" id="inputHorses" name="unit_horses">
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      <label for="inputOther">Other</label>
		      <input type="text" class="form-control" id="inputOther" name="unit_other">
		    </div>
		  </div>
		  <br/>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      <button class="btn btn-warning" type="submit" style="background-color: #D4AC0D;">Add Property</button>
      	</form>
</div>

<div class="col-sm-3">
	</div>


</div>
{% endblock %}