{% extends 'base.html' %}

{% block content %}
</br>
<div class="row">
<div class="col-md-9" style="">
  <br/>

  <!-- PROPERTY LIST TABLE -->
  <div class="location-label">Lake Tahoe Basin</div>

  <div class="bdr">
  <table class="table table-hover table-borderless table-sm">
    <tbody>
    {% for item in ticker %}
    {% if item.basin == 'Lake Tahoe Basin (90)' %}
      <tr class="clickable-row" data-href="{% url 'getPropertyDetails' item.id %}">
      	<th class="col-md-9 row-owner">{{ item.owner_of_record }}</th>
        <th class="col-md-1 row-other-details">{{ item.permit_num }}</th>
        <th class="col-md-1 row-other-details">{{ item.cert_status }}</th>
        <th class="col-md-1 row-other-details">{{ item.priority_date|date:"m/d/Y" }}</th>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
  </div>


  <div class="location-label">Dayton Valley</div>
  <div class="bdr">
  <table class="table table-hover table-borderless table-sm">
    <tbody>
    {% for item in ticker %}
    {% if item.basin == 'Dayton Valley (103)' %}
      <tr class="clickable-row" data-href="{% url 'getPropertyDetails' item.id %}">
      	<th class="col-md-9 row-owner">{{ item.owner_of_record }}</th>
        <th class="col-md-1 row-other-details">{{ item.permit_num }}</th>
        <th class="col-md-1 row-other-details">{{ item.cert_status }}</th>
        <th class="col-md-1 row-other-details">{{ item.priority_date|date:"m/d/Y" }}</th>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
  </div>



  <div class="location-label">Carson Valley</div>
  <div class="bdr">
  <table class="table table-hover table-borderless table-sm">
    <tbody>
    {% for item in ticker %}
    {% if item.basin == 'Carson Valley (105)' %}
      <tr class="clickable-row" data-href="{% url 'getPropertyDetails' item.id %}">
      	<th class="col-md-9 row-owner">{{ item.owner_of_record }}</th>
        <th class="col-md-1 row-other-details">{{ item.permit_num }}</th>
        <th class="col-md-1 row-other-details">{{ item.cert_status }}</th>
        <th class="col-md-1 row-other-details">{{ item.priority_date|date:"m/d/Y" }}</th>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
  </div>



  <div class="location-label">Antelope Valley</div>
  <div class="bdr">
  <table class="table table-hover table-borderless table-sm">
    <tbody>
    {% for item in ticker %}
    {% if item.basin == 'Antelope Valley (106)' %}
      <tr class="clickable-row" data-href="{% url 'getPropertyDetails' item.id %}">
      	<th class="col-md-9 row-owner">{{ item.owner_of_record }}</th>
        <th class="col-md-1 row-other-details">{{ item.permit_num }}</th>
        <th class="col-md-1 row-other-details">{{ item.cert_status }}</th>
        <th class="col-md-1 row-other-details">{{ item.priority_date|date:"m/d/Y" }}</th>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
  </div>

</div>

<div class="col-md-3">
  <div class="row align-items-start" >
    <div class="col-sm-12">
    	{% if user.is_authenticated %}
    	<button type="button" class="btn text-light btn-lg btn-block rounded" data-toggle="modal" data-target="#exampleModal" style="background-color: #F0B40C; box-shadow: 0 4px 6px rgba(0, 0, 0, .3); text-align: left; padding-left: 15px;">
	  		+ Add Rights
		</button>
		{% else %}
		<button type="button" class="btn text-light btn-lg btn-block rounded" data-toggle="modal" data-target="#exampleModal" style="background-color: #F0B40C; box-shadow: 0 4px 6px rgba(0, 0, 0, .3); text-align: left; padding-left: 15px;">
	  		+ Add Rights
		</button>
		{% endif %}
		<br/><br/>

<br/>
    </div>
	<br/>

  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header text-white bg-dark">
        <h3 class="modal-title" id="exampleModalLabel">Add Rights</h3>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">

      	<!-- Form -->
      	<form action="{% url 'home' %}" method="POST">
      		{% csrf_token %}
      	  <h3 class="text-dark">Water Rights Information</h3>

      	  <!-- ROW 1 -->
      	  <div class="form-row">
		    <div class="form-group text-secondary col-lg-3">
				{{ form.basin.label_tag }} {{ form.basin }}
				{{ form.basin.errors }}
		    </div>
		    <div class="form-group text-secondary col-lg-3">
		      {{ form.owner_of_record.label_tag }} {{ form.owner_of_record }}
		      {{ form.owner_of_record.errors }}
		    </div>
		    <div class="form-group text-secondary col-lg-3">
		      <label for="inputPermitNum">Permit Number</label>
		      {{ form.permit_num.label_tag }} {{ form.permit_num }}
		    </div>
		    <div class="form-group text-secondary col-lg-3">
		      {{ form.cert_status.label_tag }} {{ form.cert_status }}
		    </div>
		  </div>

		  <!-- ROW 2 -->
		  <div class="form-row">
		    <div class="form-group text-secondary col-lg-3">
			    {{ form.priority_date.label_tag }} {{ form.priority_date }}
			</div>
			<div class="form-group text-secondary col-lg-2">
			    {{ form.cfs.label_tag }} {{ form.cfs }}
			</div>
			<div class="form-group text-secondary col-lg-2">
			    {{ form.duty_af.label_tag }} {{ form.duty_af }}
			</div>
			<div class="form-group text-secondary col-lg-2">
			    {{ form.use.label_tag }} {{ form.use }}
			</div>
			<div class="form-group text-secondary col-lg-3">
			    {{ form.remarks.label_tag }} {{ form.remarks }}
			</div>
		  </div>

		  <div class="form-row">
		    <div class="form-group text-secondary col-md-3">
			    {{ form.poc_due.label_tag }} {{ form.poc_due }}
			</div>
			<div class="form-group text-secondary col-md-3">
			    {{ form.pbu_due.label_tag }} {{ form.pbu_due }}
			</div>
			<div class="form-group text-secondary col-md-2">
			    {{ form.source.label_tag }} {{ form.source }}
			</div>
			<div class="form-group text-secondary col-md-4">
			    {{ form.source_description.label_tag }} {{ form.source_description }}
			</div>
		  </div>

		  <div class="form-row">
		    <div class="form-group text-secondary col-lg-12">
		      {{ form.sale_value.label_tag }} {{ form.sale_value }}
		    </div>
		  </div>

		  <div class="form-row">
		    <div class="form-group text-secondary col-lg-12">
		      {{ form.potential_values.label_tag }} {{ form.potential_values }}
		    </div>
		  </div>

		  <br/>
		  <h3 class="text-dark">Point of Diversion</h3>
		  <div class="form-row">
		    <div class="form-group text-secondary col-md-2">
		      {{ form.pod_1.label_tag }} {{ form.pod_1 }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.pod_2.label_tag }} {{ form.pod_2 }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.pod_3.label_tag }} {{ form.pod_3 }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.pod_4.label_tag }} {{ form.pod_4 }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.pod_5.label_tag }} {{ form.pod_5 }}
		    </div>
		  </div>
		  <br/>
		  <h3 class="text-dark">Acres/Units</h3>
		  <div class="form-row">
		    <div class="form-group text-secondary col-md-2">
		      {{ form.unit_acres.label_tag }} {{ form.unit_acres }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.unit_sheep.label_tag }} {{ form.unit_sheep }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.unit_lamb.label_tag }} {{ form.unit_lamb }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.unit_cattle.label_tag }} {{ form.unit_cattle }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.unit_horses.label_tag }} {{ form.unit_horses }}
		    </div>
		    <div class="form-group text-secondary col-md-2">
		      {{ form.unit_other.label_tag }} {{ form.unit_other }}
		    </div>
		  </div>


	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button class="btn text-light btn-warning" type="submit" style="background-color: #F0B40C;">Add Rights</button>
	      </div>
      	</form>


      </div>
    </div>
  </div>
 </div>
{% endblock %}